SAFE_FILE_SYSTEM_FOLDER="/Users/akshayranganath/Projects/idea/my-ai-projects/pydantic/pydantic-ai-tutorial/tool_access"
BASE_URL=http://localhost:1234/v1
API_KEY=lm-studio
MODEL_NAME=nvidia/nemotron-3-nano-4b
TYPESAFE_API_KEY=<<your api key>>